h1{
    text-align: center;
    border: 1px solid;
}
body{
    border: 1px solid;
    border-top: unset;
   
}
.hob{
    background-color: lightsalmon;
    padding: 5px;
    margin-right: 100px;
    border-radius: 5px;
    box-shadow: 5px 5px 1px 1px;
   
}
main{
    background-color: violet;
}
